In [1]:
import pandas as pd
import numpy as np

In [3]:
df_cleaned = pd.read_csv('inu_neko_orderline_clean.csv')
df_cleaned

,trans_id,prod_upc,cust_id,trans_timestamp,trans_year,trans_month,trans_day,trans_hour,trans_quantity,cust_age,cust_state,prod_price,prod_title,prod_category,prod_animal_type,total_sales
0,10300097,719638485153,1001019,2021-01-01 07:35:21.439873,2021,1,1,1,1,20,New York,72.99,Cat Cave,bedding,cat,72.99
1,10300093,73201504044,1001015,2021-01-01 09:33:37.499660,2021,1,1,1,1,34,New York,18.95,Purrfect Puree,treat,cat,18.95
2,10300093,719638485153,1001015,2021-01-01 09:33:37.499660,2021,1,1,1,1,34,New York,72.99,Cat Cave,bedding,cat,72.99
3,10300093,441530839394,1001015,2021-01-01 09:33:37.499660,2021,1,1,1,2,34,New York,28.45,Ball and String,toy,cat,56.90
4,10300093,733426809698,1001015,2021-01-01 09:33:37.499660,2021,1,1,1,1,34,New York,18.95,Yum Fish-Dish,food,cat,18.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38218,10327860,287663658863,1022098,2021-06-30 15:37:12.821020,2021,6,30,30,1,25,New York,9.95,All Veggie Yummies,treat,dog,9.95
38219,10327960,140160459467,1022157,2021-06-30 15:45:09.872732,2021,6,30,30,2,31,Pennsylvania,48.95,Snoozer Essentails,bedding,dog,97.90
38220,10328009,425361189561,1022189,2021-06-30 15:57:44.295104,2021,6,30,30,2,53,New Jersey,15.99,Snack-em Fish,treat,cat,31.98
38221,10328089,733426809698,1022236,2021-06-30 15:59:29.801593,2021,6,30,30,1,23,Tennessee,18.95,Yum Fish-Dish,food,cat,18.95
38222,10328109,717036112695,1011924,2021-06-30 17:30:52.205912,2021,6,30,30,1,24,Pennsylvania,60.99,Reddy Beddy,bedding,dog,60.99

In [ ]:
df_cleaned.info()

Question 1: Number of Orders
How many transactions are there?

In [ ]:
num_trans = df_cleaned['trans_id'].nunique()
print(num_trans)

Question 2: Alpha and Omega I
What was the month and day of the first sale? Store as a tuple in that order and assign the tuple to the variable first_date.

In [ ]:
# Assign the timestamp for the first day
first_timestamp = pd.Timestamp("2021-01-01 07:35:21.439873")

# Extract the month and day from the first timestamp
first_month = first_timestamp.month
first_day = first_timestamp.day

# Store the month and day as a tuple in that order
first_date = (first_month, first_day)

# Display the result
print("Month and day of the first sale:", first_date)

Question 3: Alpha and Omega II
What was the month and day of the last sale? Store as a tuple in that order and assign the tuple to the variable last_date.

In [ ]:
last_order = df_cleaned.tail(1)
print(last_order)

# Assign the timestamp for the first day
last_timestamp = pd.Timestamp("2021-06-30 17:30:52.205912")

# Extract the month and day from the first timestamp
last_month = last_timestamp.month
last_day = last_timestamp.day

# Store the month and day as a tuple in that order
last_date = (last_month, last_day)

Question 4: Cats vs Dogs
Which animal product type is most popular?

In [ ]:
animal_count = df_cleaned.groupby('prod_animal_type')['trans_quantity'].sum()
most_pop = animal_count.idxmax()
print(most_pop)

Question 5: More Money More Problems I
What was the total dollar amount made in the month of January? Store this in the variable jan_rev.

In [ ]:
# Filter the DataFrame to include only rows where trans_month is 1 (January)
january_sales = df_cleaned[df_cleaned['trans_month'] == 1]

# Calculate the total dollar amount made in January
jan_rev = january_sales['total_sales'].sum()

# Display the result
# print("Total dollar amount made in January:", total_january_sales)


print(jan_rev)

Question 6: More Money More Problems II
What was the total dollar amount made in the month of June? Store this in the variable june_rev.

In [ ]:
# Filter the DataFrame to include only rows where trans_month is 6 (June)
june_sales = df_cleaned[df_cleaned['trans_month'] == 6]

# Calculate the total dollar amount made in January
june_rev = june_sales['total_sales'].sum()

# Display the result
# print("Total dollar amount made in January:", total_january_sales)


print(june_rev)

Question 7: Transaction Size
What is the average number of items bought in each transaction? Sore this in the variable avg_num_items.

In [ ]:
avg_num_items = df_cleaned['trans_quantity'].mean()

Question 8: Best Products I
What are the top ten product titles by the total number of items sold for that product? Display in descending order. Store in variable top_num_sales.

In [ ]:
top_num_sales = df_cleaned.groupby('prod_title')['trans_quantity'].sum().sort_values(ascending=False)
top_num_sales = top_num_sales.head(10).index.tolist()

Question 9: Best Products II
What are the top ten product titles by total dollar amount made? Display in descending order. Store in variable top_tot_sales.

In [ ]:
top_tot_sales = df_cleaned.groupby('prod_title')['total_sales'].sum().sort_values(ascending=False)
top_tot_sales = top_tot_sales.head(10).index.tolist()

Question 10: Bonus
What is the proportion of returning customers? Store as variable prop_returning

In [ ]:
# Count the number of unique customers
unique_customers = df_cleaned['cust_id'].nunique()

# Count the number of unique transactions
unique_transactions = df_cleaned['trans_id'].nunique()

# Count the number of returning customers (customers with more than one unique transaction)
returning_customers = (df_cleaned.groupby('cust_id')['trans_id'].nunique() > 1).sum()

# Calculate the proportion of returning customers
prop_returning = returning_customers / unique_customers

# Display the result
print("Proportion of returning customers:", prop_returning)